.body{
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    font-size: 100%;
    position: relative;
    
}
.header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
}
.img-header{
    
}

.nav{
    
    margin-bottom: 20px;
    margin-top: 20px;

}
.nav a{
    font-family: 'Sarala', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 47px;
}
.main-content{
    display: flex;
    justify-content: space-around;
    padding-left: 90px;
}
.secundary-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: whitesmoke;
    margin-bottom: 50px;
}
.secundary-content .title{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 64px;
    font-size: 24px;
    margin-bottom: 10px;

}
.secundary-content p{
    font-family: 'Sarala', sans-serif;
}
.footer{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 39px;
    border-top: 0.4px solid #FFF2E7;
}
.title{
    font-family: 'Righteous', cursive;
    color:whitesmoke;
    font-size: 64px;
    margin-bottom: 40px;
    margin-top: 70px;
}
.subtitle{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 40px;

}
.button{
    width: 185px;
    height: 67px;
    border-radius: 20px;
    background-color: #ECD6C4;
    font-size: 24px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}
.button:hover{
    cursor: pointer;
}